.hover-box {
    width: 250px;
    height: 250px;
    background-color: red;
    display: flex;
}

.hover-box:hover {
    transform: translateX(200px) scale(0.5) rotate(270deg);
}

.spin-box {
    width: 250px;
    height: 250px;
    background-color: blue;
    display: flex;
    justify-content: center;
    animation-name: spin;
    animation-duration: 5s;
    
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}